{% extends 'base.html' %}

<span>{% block head%}  Hello {{username}} {% endblock %} </span>
<span>{% block title %} {% endblock %}</span>

<span
  >{% block info %} Steps to shorten URL
  <br />
  Enter the URL in the given field and click Generate to get the URL
    Then click Copy button to copy it!
    <br/> It's simple... No Rocket Sciences 😄 
   {% endblock %}</span
>

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}"></link>

<div class="Ax">
  <form method="POST" action="/short">
    <div class="mb-3">
      <label for="user_input" class="form-label clr">Enter a URL </label>
      <input
        type="text"
        name="user_input"
        id="user_input"
        required
        class="form-control cur"
      />
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="bttn btn btn-primary cur">
       Generate
      </button>
    </div>
  </form>
</div>
{% if op == True: %}
<div class="d-flex justify-content-center">
<p style="color: aqua;"><b>D Short URL </b><span><i><a href="{{s_url}}" target="_blank"> {{s_url}} </a></i></span></p>
</div>
<script>
  function myFunction() {
    var copyText = "{{s_url}}";
    navigator.clipboard.writeText(copyText);
    
  }
</script>
<div class="d-flex justify-content-center">
  <button onclick="myFunction()" class="bttn btn btn-primary cur">
   Copy URL
  </button>
</div>
{% endif %}
{% endblock %} 

{% block footer %}<div style="margin: 30px !important;"> <span>Continue to history page <a href="/history">History </a> </span></div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="flashes" style="color:red !important;"> Info:  {{message}} </p>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
