{% extends 'base.html' %}

<span>{% block head%} Welcome to D Short Link {% endblock %} </span>
<span>{% block title %} Registration | SignUp {% endblock %}</span>

<span
  >{% block info %} Hello There!
  <br />
  Are you looking to shorten URL, your search ends here. Register with us now
  and try our services. {% endblock %}</span
>

{% block body %}
<style>
  .cur {
    border-radius: 14px;
  }

  .Ax,
  .Bx {
    color: white;
    margin: 30px;
  }

  .bttn {
    margin: 20px 0px 0px 0px;
    width: 50%;
  }

  a {
    padding: 0 10px;
    color: lime !important;
  }

  .zl {
    font-size: 12px;
  }

  .z1{
    margin: 0 20px;
  }
</style>

<div class="Ax">
  <form method="POST" action="/">
    <div class="mb-3">
      <label for="user_name" class="form-label clr">User Name </label>
      <input
        type="text"
        name="user_name"
        id="user_name"
        required
        class="form-control cur"
      />
    </div>

    <div class="mb-3">
      <label for="pwd" class="form-label clr"> Password</label>
      <input
        class="form-control cur"
        type="password"
        name="pwd"
        id="pwd"
        required
      />
    </div>
    <div class="mb-3 form-check z1">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label zl" for="exampleCheck1"
        >I agree to terms and conditions</label
      >
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="bttn btn btn-primary cur">
        Create Account
      </button>
    </div>
  </form>
</div>
{% endblock %} 

{% block footer %} <span>Alredy a user ? <a>Login </a> </span>{% endblock %}
