.cur {
    border-radius: 14px;
  }

  .Ax,
  .Bx {
    color: white;
    margin: 30px;
  }

  .bttn {
    margin: 20px 0px 0px 0px;
    width: 50%;
  }

  a {
    padding: 0 10px;
    color: lime !important;
  }

  .zl {
    font-size: 12px;
  }

  .z1{
    margin: 0 20px;
  }

  .c1{
    color: whitesmoke !important;
    width: 800% !important;
  }

  table{
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
  }

  table, tr, th, td{
    border: 2px solid gray;
    padding: 5px;  
    text-align: center;
  }

  th, tr, td {
    height: 100px;
    width: 10calc(100vw/3);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }